[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
appdirs = "==1.4.3"
appnope = "==0.1.0"
astroid = "==2.2.5"
attrs = "==19.1.0"
backcall = "==0.1.0"
black = "==19.3b0"
boto3 = "==1.9.214"
botocore = "==1.12.214"
certifi = "==2019.6.16"
chardet = "==3.0.4"
click = "==7.0"
coreapi = "==2.3.3"
coreschema = "==0.0.4"
decorator = "==4.4.0"
disposable-email-domains = "==0.0.52"
dj-database-url = "==0.5.0"
django-cors-headers = "==3.1.0"
django-extensions = "==2.2.1"
django-heroku = "==0.3.1"
django-model-utils = "==3.2.0"
django-phonenumber-field = "==3.0.1"
django-redis-cache = "==2.0.0"
django-storages = "==1.7.1"
djangorestframework = "==3.10.2"
djangorestframework-simplejwt = "==4.3.0"
docutils = "==0.15.2"
drf-yasg = "==1.16.1"
entrypoints = "==0.3"
factory-boy = "==2.12.0"
flake8 = "==3.7.8"
idna = "==2.8"
inflection = "==0.3.1"
ipython = "==7.7.0"
isort = "==4.3.21"
itypes = "==1.1.0"
jedi = "==0.15.1"
jmespath = "==0.9.4"
lazy-object-proxy = "==1.4.2"
mailjet-rest = "==1.3.3"
mccabe = "==0.6.1"
openapi-codec = "==1.3.2"
packaging = "==19.1"
parso = "==0.5.1"
pexpect = "==4.7.0"
phonenumbers = "==8.10.17"
pickleshare = "==0.7.5"
psycopg2 = "==2.8.3"
ptyprocess = "==0.6.0"
pycodestyle = "==2.5.0"
pyflakes = "==2.1.1"
pylint = "==2.3.1"
pylint-django = "==2.0.11"
pylint-plugin-utils = "==0.5"
pyparsing = "==2.4.2"
python-dateutil = "==2.8.0"
pytz = "==2019.2"
redis = "==3.3.8"
requests = "==2.22.0"
s3transfer = "==0.2.1"
sentry-sdk = "==0.11.1"
simplejson = "==3.16.0"
six = "==1.12.0"
sqlparse = "==0.3.0"
tblib = "==1.4.0"
text-unidecode = "==1.2"
toml = "==0.10.0"
traitlets = "==4.3.2"
typed-ast = "==1.4.0"
uritemplate = "==3.0.0"
urllib3 = "==1.25.3"
wcwidth = "==0.1.7"
whitenoise = "==4.1.3"
wrapt = "==1.11.2"
Babel = "==2.7.0"
Django = "==2.2.10"
Faker = "==2.0.1"
ipython_genutils = "==0.2.0"
Jinja2 = "==2.10.1"
MarkupSafe = "==1.1.1"
prompt_toolkit = "==2.0.9"
Pygments = "==2.4.2"
PyJWT = "==1.7.1"
"ruamel.yaml" = "==0.16.5"
"ruamel.yaml.clib" = "==0.1.2"

[requires]
python_version = "3.7"
